@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

:root {
  font-family: "Fira Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.discordapp.com/attachments/1056662159108604054/1058892883542953994/fec97ee48b4262bd510441dfcef1fc83.png');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  font-family: monospace!important;
  text-decoration: inherit;
}
a:hover {
  color: #b6abff;
}

.social {
  color:white;
}

.discord-thingy {
  margin: 25px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; 
}

.credit {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: grey;
  text-decoration: none;
} 

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.fa-discord:hover {
    color: #5865f2;
    cursor: pointer;
}

.fa-youtube:hover {
    color: #ff0000;
    cursor: pointer;
}

.fa-github:hover {
    color: #f700ff;
    cursor: pointer;
}

.fa-paypal:hover {
    color: #c50031;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
